<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
        <p class="font-italic pull-right"> {{ post.created_at | date: 'short':'':'fr-FR' }}</p>
        <h4>{{ post.title }}</h4>
        <button class="btn btn-default pull-right" (click)="onDeletePost(post)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        <p>{{ post.content }}</p>
        <p class="pull-right">Love counter: <span class="badge badge-pill badge-dark">{{ post.loveIts }}</span></p>
        <button class="btn btn-success" (click)="onLike(post)">Love it!</button>
        <button class="btn btn-danger" (click)="onNoLike(post)">Don't love it!</button>
</li>
